
*.1
*.v2
*.vsidx
*.lock
*.editorconfig
*.cache
SymbolTable/obj/Debug/net6.0/SymbolTable.AssemblyInfo.cs
SymbolTable/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SymbolTable/obj/Debug/net6.0/SymbolTable.GlobalUsings.g.cs
SymbolTable/.vs/SymbolTable/v17/.suo
*.json
*.dll
*.exe
*.pdb
*.txt
*.BuildWithSkipAnalyzers
*.props
*.targets

Lab_Teams/.vs/
Lab_Teams/.vs/Lab_Teams/v17/.suo
